/* app总样式 */
#app{
  height: 100%;
}
a , a:-webkit-any-link:active{
  text-decoration: none;
  color: black;
}
/* 系统色号设置 */
.red {
  color: #ED6355;
}
.bred, .communAndInfo .left_color_box {
  background-color: #ED6355;
}
.blue {
  color: #337FE7;
}
.bblue {
  background-color: #337FE7;
}
.yellow {
  color: #F9BD5F;
}
.bwellow, .electronAndEng .left_color_box {
  background-color: #F9BD5F;
}
.grey {
  color: #f5f6f7;
}
.bgrey, .EconAndManage .left_color_box {
  background-color: #f5f6f7;
}
.green {
  color: 2AD4AE;
}
.bgreenm, .autoMation .left_color_box {
  background-color: #2AD4AE;
}
.purple {
  color: #A07BE6;
}
.bpurple, .computing .left_color_box {
  background-color: #A07BE6;
}
