<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allspark.uhelper.db.mapper.CheckInfoMapper">

    <resultMap id="BaseResultMap" type="com.allspark.uhelper.db.pojo.CheckInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="courseId" column="course_id" jdbcType="BIGINT"/>
            <result property="ratio" column="ratio" jdbcType="DECIMAL"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,course_id,ratio,
        name
    </sql>
    <select id="selectIdByCourseId" resultMap="BaseResultMap">
        select id
        from u_courseinfo.check_info
        where course_id = #{courseId,jdbcType=NUMERIC}
    </select>
    <select id="selectAllByCourseId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from u_courseinfo.check_info
        where
        course_id = #{courseId,jdbcType=NUMERIC}
    </select>
</mapper>
