<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allspark.uhelper.db.mapper.ClassInfoMapper">

    <resultMap id="BaseResultMap" type="com.allspark.uhelper.db.pojo.ClassInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="college" column="college" jdbcType="TINYINT"/>
            <result property="professional" column="professional" jdbcType="VARCHAR"/>
            <result property="grade" column="grade" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="INTEGER"/>
            <result property="headcount" column="headcount" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,college,professional,
        grade,name,headcount,
        user_id
    </sql>
</mapper>
