<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allspark.uhelper.db.mapper.FkTargetGarduateMapper">

    <resultMap id="BaseResultMap" type="com.allspark.uhelper.db.pojo.FkTargetGarduate">
            <id property="targetId" column="target_id" jdbcType="BIGINT"/>
            <result property="graduateTargetId" column="graduate_target_id" jdbcType="BIGINT"/>
            <result property="graduateId" column="graduate_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        target_id,graduate_target_id,graduate_id
    </sql>
    <select id="selectAllByTargetId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from fk_target_garduate
        where
        target_id = #{targetId,jdbcType=NUMERIC}
    </select>
</mapper>
