<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allspark.uhelper.db.mapper.GraduateTargetInfoMapper">

    <resultMap id="BaseResultMap" type="com.allspark.uhelper.db.pojo.GraduateTargetInfo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="graduate_id" column="graduate_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,name,content,
        graduate_id
    </sql>

    <select id="searchTargetById" resultType="graduateTargetInfo">
        SELECT name,
               content
        FROM u_graduateinfo.graduate_target_info
        WHERE id = ${id}
    </select>

    <select id="searchTargetBatch" resultType="HashMap">
        SELECT id,
               name,
               content
        FROM u_graduateinfo.graduate_target_info
        WHERE graduate_id = #{graduate_id}
    </select>

    <insert id="insertTarget" parameterType="graduateTargetInfo">
        INSERT INTO u_graduateinfo.graduate_target_info(id, name, content, graduate_id)
        VALUES (#{id}, #{name}, #{content}, #{graduate_id})
    </insert>

    <insert id="insertTargetBatch">
        INSERT INTO u_graduateinfo.graduate_target_info(id, name, content, graduate_id) VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.id},#{item.name},#{item.content},#{item.graduate_id})
        </foreach>
    </insert>

    <delete id="deleteTarget">
        DELETE
        FROM u_graduateinfo.graduate_target_info
        where graduate_id = #{graduate_id}
          AND name = #{name}
    </delete>

    <update id="updateTarget">
        UPDATE u_graduateinfo.graduate_target_info
        <set>
            <if test="name != null and name !=''">
                name = #{name},
            </if>
            <if test="content != null">
                content = #{content}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateTargetBatch">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE u_graduateinfo.graduate_target_info
            <set>
                <if test="item.name != null and item.name != ''">
                    name = #{item.name},
                </if>
                <if test="item.content != null and item.content != ''">
                    content = #{item.content},
                </if>
            </set>
            WHERE graduate_id = #{item.graduate_id}
        </foreach>
    </update>

    <select id="selectGraduateTargetCount" resultType="int">
        SELECT COUNT(*)
        FROM u_graduateinfo.graduate_target_info
        WHERE graduate_id = #{graduate_id}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from u_graduateinfo.graduate_target_info
    </select>
    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from u_graduateinfo.graduate_target_info
        where
        id = #{id,jdbcType=NUMERIC}
    </select>
</mapper>
