<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allspark.uhelper.db.mapper.GraduateTargetInfoMapper">

    <resultMap id="BaseResultMap" type="com.allspark.uhelper.db.pojo.GraduateTargetInfo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="graduateId" column="graduate_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,name,content,
        graduate_id
    </sql>

    <select id="searchTargetById" parameterType="int" resultType="HashMap">
        SELECT name,
               content
        FROM u_graduateinfo.graduate_target_info
        WHERE id = ${id}
    </select>


    <insert id="insertTargetBatch">
        INSERT INTO u_graduateinfo.graduate_target_info (id, college, grade, professional,
        graduate_count,graduate_target_count,name,user_id) VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.id},#{item.college},#{item.grade},#{item.professional},#{item.graduate_count},#{item.graduate_target_count},#{name},#{user_id})
        </foreach>
    </insert>


    <insert id="insertTarget" parameterType="graduateTargetInfo">
        INSERT INTO u_graduateinfo.graduate_info (id, college, grade, professional, graduate_count,
                                                  graduate_target_count, name, user_id)
        VALUES (#{id}, #{grade}, #{grade}, #{professional}, #{graduate_count}, #{graduate_target_count}, #{name},
                #{user_id})

    </insert>

</mapper>
