<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allspark.uhelper.db.mapper.GraduateTargetInfoMapper">

    <resultMap id="BaseResultMap" type="com.allspark.uhelper.db.pojo.GraduateTargetInfo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="graduateId" column="graduate_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,name,content,
        graduate_id
    </sql>

    <select id="searchTargetById" parameterType="int" resultType="HashMap">
        SELECT name,
               content
        FROM u_graduateinfo.graduate_target_info
        WHERE id = ${id}
    </select>


    <insert id="insertTarget" parameterType="graduateTargetInfo">
        INSERT INTO u_graduateinfo.graduate_target_info(id, name, content, graduate_id)
        values (#{id}, #{name}, #{content}, #{graduate_id})
    </insert>

    <delete id="deleteTarget">
        DELETE
        FROM u_graduateinfo.graduate_target_info
        where id = #{id}
    </delete>

</mapper>
