<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allspark.uhelper.db.mapper.GraduateInfoMapper">
<!-- 数据库问题!-->
    <resultMap id="BaseResultMap" type="com.allspark.uhelper.db.pojo.GraduateInfo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="college" column="college" jdbcType="INTEGER"/>
        <result property="grade" column="grade" jdbcType="INTEGER"/>
        <result property="professional" column="professional" jdbcType="VARCHAR"/>
        <result property="graduate_count" column="graduate_count" jdbcType="INTEGER"/>
        <result property="graduate_target_count" column="graduate_target_count" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="user_id" column="user_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,college,grade,
        professional,graduate_count,graduate_target_count,
        name,user_id
    </sql>

    <select id="selectNameById" resultType="string">
        select name
        from u_graduateinfo.graduate_info
        where id = #{id,jdbcType=NUMERIC}
    </select>

    <select id="selectCollegeAndGrade" resultType="HashMap">
        select *
        from u_classinfo.class_info
    </select>


    <insert id="insertStudent">
        insert into u_classinfo.student_info(id,index,name,number,class_id)
        values
        <foreach collection="studentInfoCollection" item="item" separator=",">
            (#{id,jdbcType=NUMERIC},#{index,jdbcType=INTGER},#{name,jdbcType=VARCHAR},
            #{number,jdbcType=INTEGER},#{class_id,jdbcType=NUMERIC})
        </foreach>
    </insert>


    <insert id="insertGraduateInfo" parameterType="graduateInfo">
        INSERT INTO u_graduateinfo.graduate_info (id, college, grade, professional, graduate_count,
                                                  graduate_target_count, name, user_id)
        VALUES (#{id}, #{grade}, #{grade}, #{professional}, #{graduate_count}, #{graduate_target_count}, #{name},
                #{user_id})

    </insert>

    <insert id="insertGraduateInfoBatch">
        INSERT INTO u_graduateinfo.graduate_info (id, college, grade, professional,
        graduate_count,graduate_target_count,name,user_id) VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.id},#{item.college},#{item.grade},#{item.professional},#{item.graduate_count},#{item.graduate_target_count},#{item.name},#{item.user_id})
        </foreach>
    </insert>

    <delete id="deleteGraduateInfo">
        DELETE
        FROM u_graduateinfo.graduate_info
        WHERE grade = #{grade}
          AND professional = #{professional}
          AND name = #{name}
    </delete>

    <update id="updateGraduationName">
        UPDATE u_graduateinfo.graduate_info
        <set>
            <if test="name != null and name !=''">
                name = #{name},
            </if>
        </set>
        WHERE id = #{id}
    </update>
    <!-- 唯一性 -->
    <select id="selectId" resultType="long">
        SELECT id
        FROM u_graduateinfo.graduate_info
        WHERE grade = #{grade}
          AND professional = #{professional}
          AND name = #{name}
    </select>

    <select id="selectIdByname" resultType="long">
        SELECT id
        FROM u_graduateinfo.graduate_info
        WHERE name = #{name}
          AND grade = #{grade}
          AND professional = #{professional}
    </select>

    <select id="selectGraduate_target_count" resultType="int">
        SELECT graduate_target_count
        FROM u_graduateinfo.graduate_info
        where name = #{name}
          AND grade = #{grade}
          AND professional = #{professional}
    </select>

    <update id="updateGraduate_target_count">
        UPDATE u_graduateinfo.graduate_info
        <set>
            <if test="graduate_target_count != null and graduate_target_count !=''">
                graduate_target_count = #{graduate_target_count},
            </if>
        </set>
        WHERE
        id = #{id}
    </update>

    <select id="selectGraduateInfoByGradeAndProfessional" resultType="HashMap">
        SELECT graduate_count,
               name
        FROM u_graduateinfo.graduate_info
        WHERE professional = #{professional}
          AND grade = #{grade}
    </select>
</mapper>
