<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allspark.uhelper.mapper.Test1Mapper">

    <resultMap id="BaseResultMap" type="com.allspark.uhelper.domain.Test1">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name
    </sql>
    <insert id="insertAll">
        insert into test1
            (id, name)
        values (#{id,jdbcType=NUMERIC}, #{name})

    </insert>

    <insert id="test">
        insert into u_classinfo.t_student values (1,2,3,4,5);
    </insert>
</mapper>
