<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allspark.uhelper.db.mapper.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.allspark.uhelper.db.pojo.UserInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="number" column="number" jdbcType="VARCHAR"/>
            <result property="isFirst" column="is_first" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,password,
        number
    </sql>
    <update id="update">
        update u_classinfo.user_info
        set password = #{password},is_first = 1 where number = #{number}
    </update>
    <select id="login" resultType="java.lang.Long">
        select id from u_classinfo.user_info where number = #{number} and password = #{password};
    </select>

    <select id="selectIsFirstByNumber" resultType="integer">
        select is_first
        from u_classinfo.user_info
        where number = #{number,jdbcType=VARCHAR}
    </select>
</mapper>
